.country{
    border : 4px solid salmon;
    border-radius: 7px;
    margin: 10px;
}
.country-visited{
    background-color: rgb(171, 248, 222);
}

.country-visited p{
    color: rgb(244, 55, 112);
}
